* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  font: 100%/1.5 'Roboto';
  word-wrap: break-word;
  margin: 0 auto;
  padding: 1.5em;
}

@media (min-width: 768px) {
  html {
      font-size: 125%;
      max-width: 42em;
} }
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #98FB98;
  padding: 14px 16px;
  margin-bottom: 25px;
}
#brand {
  color: black;
  text-decoration: none;
  padding-left: 30px;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav-right {
    float: right;
    display: inline;
  }

  .tas {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    width: 35%;
    height: auto;
  }